# Unity-generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/

# Visual Studio / Rider files
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.user

# Large FBX files to ignore
Assets/Enemy Animations/Ch49_nonPBR@Walk With Rifle.fbx
Assets/Enemy Animations/Ch49_nonPBR@Rifle Idle.fbx
